In [40]:
from bs4 import BeautifulSoup

In [41]:
employee_html_doc = """<employees>
    <employee class="accountant">
        <firstName>John</firstName>
        <lastName>Doe</lastName></employee>
    <employee class="Manager">
        <firstName>Anna</firstName>
        <lastName>Smith</lastName></employee>
    <employee class="Developer">
        <firstName>Peter</firstName>
        <lastName>Jones</lastName></employee>
</employees>"""

In [42]:
soup_emp =BeautifulSoup ( employee_html_doc, "html.parser")

In [43]:
tag = soup_emp.employee

In [44]:
tag

<employee class="accountant">
<firstname>John</firstname>
<lastname>Doe</lastname></employee>

In [45]:
tag['class'] = 'Manager'
tag

<employee class="Manager">
<firstname>John</firstname>
<lastname>Doe</lastname></employee>

In [46]:
soup_emp

<employees>
<employee class="Manager">
<firstname>John</firstname>
<lastname>Doe</lastname></employee>
<employee class="Manager">
<firstname>Anna</firstname>
<lastname>Smith</lastname></employee>
<employee class="Developer">
<firstname>Peter</firstname>
<lastname>Jones</lastname></employee>
</employees>

In [47]:
tag = soup_emp.new_tag('rank')
tag.string = 'Manager 1'
soup_emp.employees.employee.insert_after(tag)

In [48]:
soup_emp

<employees>
<employee class="Manager">
<firstname>John</firstname>
<lastname>Doe</lastname></employee><rank>Manager 1</rank>
<employee class="Manager">
<firstname>Anna</firstname>
<lastname>Smith</lastname></employee>
<employee class="Developer">
<firstname>Peter</firstname>
<lastname>Jones</lastname></employee>
</employees>

In [49]:
tag.clear()
tag

In [50]:
soup_emp

<employees>
<employee class="Manager">
<firstname>John</firstname>
<lastname>Doe</lastname></employee><rank></rank>
<employee class="Manager">
<firstname>Anna</firstname>
<lastname>Smith</lastname></employee>
<employee class="Developer">
<firstname>Peter</firstname>
<lastname>Jones</lastname></employee>
</employees>

In [51]:
# this is pointer rather than new variable
tag = soup_emp.employees.employee
tag

<employee class="Manager">
<firstname>John</firstname>
<lastname>Doe</lastname></employee>

In [52]:
tag.firstname.string.extract()

'John'

In [53]:
tag.firstname.replace_with('John 2')

In [54]:
tag

<employee class="Manager">
John 2
<lastname>Doe</lastname></employee>

In [55]:
soup_emp.employees

<employees>
<employee class="Manager">
John 2
<lastname>Doe</lastname></employee><rank></rank>
<employee class="Manager">
<firstname>Anna</firstname>
<lastname>Smith</lastname></employee>
<employee class="Developer">
<firstname>Peter</firstname>
<lastname>Jones</lastname></employee>
</employees>